

:root {
    --color-background: #13161c;
    --colors-between: #1c202a;
    --color-icons-button: #2A7AE4;
    --color-ic-bt-hover: #5595E9;
    --color-ic-bt-2-hover:#D4E4FA;
    --color-footer: #2f3646;
    --color-font: white;
    --color-label-placeholder:#A2A2A2;
    --font-size-titles: 2em;
    --font-size-itens-subtext-footer: 1em;
    --font-size-buttons-mobile: 0.875em;
    --font-weigth-titles-icons: 700;
    --font-weight-itens-subtextcont: 500;
    --font-weight-subtext-header-about: 400;
    --font-weight-buttons-mobile: 600;
    --font-family: "Raleway";
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    color: var(--color-font);
    height: 100%;
    line-height: 1;
    font-family: "Raleway";
    font-weight: var(--font-weight-about);
    overflow-x: hidden;
}

header {
    display: flex;
    margin: 2em 9.75rem;
    justify-content: space-between;
}

.short-text {
    display: none;
    font-weight: var(--font-weigth-titles-icons)
}

.full-text {
    font-size: 1.188em;
    display: flex;
    align-items: center;
    font-weight: var(--font-weigth-titles-icons);
}

.menu_list {
    display: flex;
    gap: 2em;  
}

#menu__li__contato {
    font-weight: var(--font-weigth-titles-icons);
}

.menu__list__item {
    font-size: var(--font-size-itens-subtext-footer);
    font-weight: var(--font-weight-itens-subtextcont);
}

ol, ul, li {
    list-style: none;
    padding: 0;
}

a {
	text-decoration: none;
    color: var(--color-font);
}

p {
    margin: 0;
}

*:focus {
    outline: none;
}

/* Header/Title/Hero */

.title {
    position: relative;
    padding: 3.813em 9.75rem;
    margin: 0;
    top: 2em;
    gap: 2em;
}

.title__div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: space-between;  
}

.title__profile {
    height: 23em;
    width: 23em;
    border-radius: 0.5em;
}

.title__bio {
    font-size: 3.25em;
    font-weight: var(--font-weigth-titles-icons);
}

.title__subsection {
    gap: 4.313em;
    font-size: 1.375em;
    font-weight: var(--font-weight-subtext-header-about);
}

.title__network {
    display: flex;
    flex-direction: row;
    gap: 2em;
    padding: 0;
    
}

.title__network__item {
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
    font-weight: var(--font-weight);
    font-size: var(--font-size-itens-subtext-footer);
}

#fa__icons__links {
    color: whitesmoke;

}

/* Sobre mim */

.about {
    background-color: var(--colors-between);
    padding: 4rem 9.75rem;
}

.about__title {
    font-size: var(--font-size-titles);    
    font-weight: var(--font-weigth-titles-icons);
    margin:0 0 1rem;
}

.about_paragraph {
    font-size: var(--font-size-itens-subtext-footer);
    font-weight: var(--font-weight-subtext-header-about);
}

::placeholder {
    position: relative;
    left: 0.75em;
    top: 6%;
    font-family: "Raleway";
    font-size: 1.25em;
    color: var(--color-label-placeholder);
    font-weight: var(--font-weight-subtext-header-about);
    opacity: 1;
}

/* SKILLS */

.skills {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 2rem 9.75rem 0 9.75rem;
    height: auto;
    align-items: center;
    justify-content: center;
}

.skills__title {
    text-align: center;
    font-size: var(--font-size-titles);
    font-weight: var(--font-weigth-titles-icons);
}

.skills__line {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
}

.skills__box {
    display: flex;
    flex-direction: column-reverse;
    height: 10.875em;
    width: 100%;
    padding: 1em; 
    border-radius: 0.25em;
    background-color: var(--colors-between);
}

.skills__name {
    position: relative ;
    top: 0.5em;
    bottom: 0;
    font-size: var(--font-size-itens-subtext-footer);
    font-weight: var(--font-weigth-titles-icons);
}

.fa__icons {
    bottom: 0.625em;
    position: relative;
    color: var(--color-icons-button);
}

/* Hobbies */

.hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 5.5rem 9.75rem;
    top: 2em;
}

.hobbies__title {
    text-align: center;
    font-size: var(--font-size-titles);
}

.hobbies__line {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
    
}

.hobbies__box {
    display: flex;
    flex-direction: column-reverse;
    height: 10.875em;
    width: 100%;
    padding: 1em;
    border-radius: 0.25em;
    background-color: var(--colors-between);
}

.hobbies__name {
    position: relative ;
    top: 0.5em;
    font-weight: var(--font-weigth-titles-icons);
    font-size: var(--font-size-itens-subtext-footer);
}

/* Courses */

.courses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--colors-between);
    padding: 0 9.75rem;
}

.courses__title {
    text-align: center;
    font-size: var(--font-size-titles);
    font-weight: var(--font-weigth-titles-icons);
}

.courses__item__title {
    text-align: center;
}

.courses__item__subtitle {
    text-align: center;
}

.courses__container {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
}

.courses__box {
   display: flex;
   height: auto;
   width: 100%;
   background-color: var(--color-background);
   margin-bottom: 2rem;
   border-radius: 1.5rem;
   border: solid 2px var(--color-icons-button);
   justify-content: center;
}

.courses__item__img {
   color: var(--color-icons-button);
   font-size: 10rem ;
}

/* Experiências */

.experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-background);
    padding: 0 9.75rem;
    gap: 1rem;
}

.experience__section__title {
    margin: 0;
    padding-top:2rem;
    text-align: center;
    font-size: var(--font-size-titles);
    font-weight: var(--font-weigth-titles-icons);
}

.experiencie__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.experience__info {
    width: 50rem;
    margin-left: 1rem;
 }

.experience__title {
    font-size: 1.375em;
    font-weight: var(--font-weigth-titles-icons);
}

.experience__text {
    font-size: var(--font-size-itens-subtext-footer);
    font-weight: var(--font-weight-itens-subtextcont);
}

.experience__description {
    min-width: 10%;
}

.img__exp__div {
    max-height : 10%;
    max-width: 80%;
}

.experience__img {
    width: 100%;
    height: 100%;
}

.experiencia__botao--repo {
    font-family: var(--font-family);
    font-size: var(--font-size-itens-subtext-footer);
    font-weight: var(--font-weight-itens-subtextcont);
    border-color: var(--color-icons-button);
    background-color: var(--color-background);
    color: var(--color-icons-button);
    border-style: none;
    border: 1px solid;
    padding: 1em;
    min-width: 80%;
    margin-bottom: 1rem;
    height: 3.188em;
}

.experiencia__botao--repo:hover {
    background-color: var(--color-ic-bt-hover);
    color: black;
}

.experiencia__botao--demo {
    font-family: var(--font-family);
    font-size: var(--font-size-itens-subtext-footer);
    font-weight: var(--font-weight-itens-subtextcont);
    padding: 1em;
    min-width: 80%;
    min-height: 3.188em;
    background-color: var(--color-icons-button);
    color: var(--color-font);
    border: none;
}

.experiencia__botao--demo:hover {
    background-color: var(--color-ic-bt-hover);
}

/* <!-- Sessão de Contato --> */

.formcontato {
    position: relative;
    top: 4em;
    background-color: var(--colors-between);
    display: flex;
    justify-content: center;
}

.formcontato__contacto {
    display: flex;
    padding: 4em 9.75rem 4.094em 9.75rem;
    top: 4em;
    bottom: 20em;
}

.formcontato__img {
    width: 29em;
    height: 37.063em;
    padding-bottom: 2em;
}

.formcontato__text {
    margin-left: 1em;

}

.formcontato__title {
    margin-bottom: 0.5em;
    font-size: var(--font-size-titles);
    font-weight: var(--font-weigth-titles-icons);
}

.formcontato__subtext {
    display: flex;
    margin: 0;
}

.formcontato__form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 2em;
    width: 100%;
    height: auto;
    bottom: 1px;
    flex-wrap: wrap;
    margin: 2em 0;
}

.label__input {
    height: 3.313em;
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--color-font);
    border-radius: 0.25em;
}

.formcontato__input {
    height: 3.5em;
    border-color: transparent;
    border-bottom-width: 2px;
    border-bottom-color:#C8C8C8;
    border-radius: 0.25em;
    caret-color: var(--color-icons-button);
}

.formcontato__input:hover {
    border-bottom: 2px solid #2A7AE4;
}

.formcontato__input:focus {
    border-bottom: 2px solid #2A7AE4;
}

input:focus + .form__label
{
    color: var(--color-icons-button);
}
.label__input > input
{
    float:right;
}	

.form__label {
    position: relative;
    top: 0.125em;
    left: 0.75em;
    height: 1em;
    font-size: 1em;
    font-weight: var(--font-weight-subtext-header-about);
    color: var(--color-label-placeholder);
    border: 0;
}

.formcontato__textarea{
    height: 8.563em;
    padding: 0;
    border-radius: 0.25em;
    resize: none;
    caret-color: var(--color-icons-button);
}

.formcontato__textarea:hover {
    border-bottom: 2px solid #2A7AE4;
}

.formcontato__textarea:focus {
    border-bottom: 2px solid #2A7AE4;
}


.formcontato__botao{
    font-family: var(--font-family);
    width: 10.313em;
    height: 3.188em;
    background-color: var(--color-icons-button);
    color: var(--color-font);
    border: none;
}

/* Footer/ Rodapé */

.footer{
     position: relative;
     background-color: var(--color-footer);
     height: auto;
     padding: 2em;
     display: flex;
     align-items: center;
     justify-content: center;
}
  
.footer__rodape{
      text-align: center;
      background-color: var(--color-footer);
      font-weight: var(--font-weight-iteheader-itenet-itefooter-subtexcont);  
}

/* Desktop */

@media (max-width: 1370px) {
    
    .experience__img {
        max-height: 100%;
        height: 100%;
    }
}

/* Laptop */

@media (max-width: 1360px) {
    
    /* Skills */

    .skills__box{
        height: 8rem;
    }

    /* Hobbies */

    .hobbies__box {
        height: 8rem;
    }
    
    /* Experience */

    .experience__img{
        width: 36rem;
        height: 23rem;
    }

    .experiencia__botao--repo{
        width: 100%;
    }

    .experiencia__botao--demo{
        width: 100%;
    }
}

/* Tablet */

@media (max-width: 1023px) {

    a{
        font-size: 0.875rem;
    }

    p{
        font-size: 0.875rem;
    }

    .full-text{
        font-size: 0.875rem;
    }

    /* Header */

    header{
        display: flex;
        margin: 2em 1em 1em 2em;
        justify-content: space-between;
    }

    /* Menu */

    .menu_list{
    display: flex;
    gap: 2em;
    justify-content: space-between;
    }

    .menu__list__item:nth-child(1),
    .menu__list__item:nth-child(2),
    .menu__list__item:nth-child(3),
    .menu__list__item:nth-child(4),
    .menu__list__item:nth-child(5){
        display: none;
    }

    /* Title */

    .title {
        position: relative;
        padding: 3.813em 2em;
        margin: 0;
        top: 2em;
        gap: 2em;
    }

    .title__profile {
        height: 9.125em;
        width: 9.125em;
        border-radius: 0.5em;
    }

    .title__bio {
        font-size: 1.375em;
    }

    .title__subsection {
        gap: 4.313em;
        font-size: 1em;
    }

    .title__network__item__p{
        font-size: 1rem;
    }

    /* Sobre mim */

    .about{
        background-color: var(--colors-between);
        padding: 2em;
    }

    .about__title{
        font-size: 1.375em;    
    }

    .about__paragraph{
        font-size: 0.875rem;
    }

    /* Skills */

    .skills {
        position: relative;
        padding: 2em;
        height: auto;
    }

    .skills__title {
        font-size: 1.375em;
    }

    .skills__line {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2em 1em;
    }

    .skills__box {
        height: 7.375em;
        width: 12em;
    }

    /* Hobbies */

    .hobbies {
        position: relative;
        padding: 5.5em 2em 5.5em 2em;
        top: 2em;
    }

    .hobbies__title {
        text-align: center;
        font-size: 1.375em;
    }

    .hobbies__line {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2em 1em;
    }

    .hobbies__box {
        height: 7.375em;
        width: 12em;
    }

    /* Courses */

    .courses{
        align-items: center;
    }

    .courses__title{
        font-size: 1.375em;
    }

    .courses__box{
        height: auto;
        width: 224px;
        align-items: center;
    }

    .courses__item__img{
        font-size: 2rem ;
        text-align: center;
    }
       
    /* Experiêcias */

    .experience {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        height: 40%;
    }

    .experience__section__title {
        text-align: center;
        padding-top: 0;
        font-size: 1.375em;
        font-weight: var(--font-weigth-titles-icons);
    }

    .experiencie__box {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        height: auto;
    }

    .img__exp__div {
        display: flex;
        max-height: 30%;
    }

    .experience__img {
        display: flex;
        width: 125%;
    }
    
    .experience__info{
        margin-left: 0;
        margin-top: 1rem;
        width: 100%;
    }

    .experience__text{
        font-size: 0.875rem;
        text-align: start;
    }

    .experience__description{
        display: flex;
        gap: 1rem;
        width: 100%;
    }

    .experiencia__botao--repo {
        font-size: var(--font-size-itens-subtext-footer);
        font-weight: var(--font-weight-itens-subtextcont);
        width: 6.75rem;
    }

    .experiencia__botao--demo {
        font-size: var(--font-size-itens-subtext-footer);
        font-weight: var(--font-weight-itens-subtextcont);
        width: 6.75rem;
    } 
    
    /* <!-- Sessão de Contato --> */

    .formcontato {
        position: relative;
        top: 4em;
        display: flex;
        padding: 2em;
    }

    .formcontato__contacto {
        display: flex;
        flex-wrap: wrap-reverse;
        padding: 0;
    }

    .formcontato__img {
        display: none;
    }

    .formcontato__text {
        margin-left: 0;
        padding: 0;
        width: 44em;
    }

    .formcontato__title {
        margin-bottom: 0.5em;
        font-size: 1.375em;
        font-weight: var(--font-weigth-titles-icons);
    }

    .formcontato__subtext {
        display: flex;
        margin: 0;
        font-size: 0.875rem; 
    }

    .formcontato__form {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 2em;
        width: 44em;
        height: auto;
        bottom: 1px;
        flex-wrap: wrap;
        padding-bottom: 2em;
    }

    .formcontato__textarea {
        height: 8.563em;
        padding: 0;
    }

    .formcontato__botao {
        width: 10.313em;
        height: 3.188em;
        background-color: var(--color-icons-button);
        color: var(--color-font);
    }

    /* Footer */

    .footer__rodape__paragraph {
        font-size: 1rem;
    }

}

    /* Mobile */

    @media (max-width: 745px) {

    /* Header */

    header {
        display: flex;
        margin: 1em;
        justify-content: space-between;
        height: 2.375em;
    }

    .short-text {
        display: inline-block;
        display: flex;
        align-items: center;
        line-height: 1.156em;
        font-size:auto;
    }

    .full-text {
        display: none;
    }

    /* Menu */

    .menu__list__item {
        display: flex;
        font-size: 0.875em;
        align-items: center;
    }

    /* Title */

    .title {
    position: relative;
    padding: 1em;
    margin: 0;
    top: 0;
    }

    .title__div {
    display: flex;
    flex-direction: column;
    }

    .title__profile {
        height: 6.125em;
        width: 6.125em;
        border-radius: 0.5em;
    }

    .title__bio {
        font-size: 1.375em;
    }

    .title__subsection {
        gap: 4.313em;
        font-size: 0.875em;
    }

    .title__network {
        gap: 0.5em;
    }

    .title__network__item__p {
        font-size: 0.875rem;
    }

    /* Sobre mim */

    .about {
        background-color: var(--colors-between);
        padding: 1em;
    }

    .about__title {
        font-size: 1.375em;    
    }

    /* Skills */

    .skills {
        padding: 1em;
    }

    .skills__box {
        height: 7.375em;
        width: 7.75em;
    }

    .skills__line {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    /* Hobbies */

    .hobbies {
        padding: 0 1em 2em 1em;
    }

    .hobbies__title {
        text-align: center;
        font-size: 1.375em;
    }

    .hobbies__line {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hobbies__box {
        height: 7.375em;
        width: 7.75em; 
    }

    /* Courses */

    .courses {
        margin-top: 1rem;
    }

    .courses__container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .courses__box {
        height: auto;
        width: 296px;
    }


    .courses__item__img {
        color: var(--color-icons-button);
        font-size: 2rem ;
     }
    /* Experiêcias */

    .experience {
        padding: 1rem;
    }

    .experience__img {
        height: 100%;
    }

    /*Sessão de Contato*/

    .formcontato {
        padding: 0;
        top: 0;
        display: block;
    }
    
    .formcontato__text {
        padding: 1rem;
        margin: 0;
    }

    .formcontato__form {
        width: auto
    }

    .formcontato__input {
        height: 3.375em;
        width: auto;
        margin: 0;
    }

    .formcontato__textarea {
        width: auto;
        padding: 0;
    }

    .formcontato__botao {
        width: 13.188em;
        height: 2.5em;
        font-weight: var(--font-weight-buttons-mobile);
        font-size: var(--font-size-buttons-mobile);
        padding: 0.75em 1em;
    }

}

  